/* Descubre todos los retos */

.HomeScreenDescubreRetosH2Text {

  position: relative !important;
  width: 286px !important;
  height: 36px !important;
  left: 80px !important;
  right: 46px !important;
  margin-top: 46px !important;

  font-family: Oswald !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 24px !important;
  line-height: 36px !important;

  display: flex !important;
  align-items: center !important;
  text-align: center !important;

  color: #2d292e !important;
}

.HomeScreenDescubreRetosVerMasText {

  position: relative !important;
  width: 286px !important;
  height: 36px !important;
  left: 300px !important;
  right: 46px !important;
  margin-top: 5px !important;
  margin-bottom: 2px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 24px !important;

  display: flex !important;
  align-items: center !important;
  text-align: center !important;

  color: #000000 !important;
}

.HomeScreenDescubreRetosFigure {

  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.HomeScreenDescubreRetosImg {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.HomeScreenDescubreRetosRetoActivoText {

  position: absolute;
  left: 72.05%;
  right: unset;
  top: 3.57%;
  bottom: 87.05%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  display: flex;
  align-items: center;

  color: #ffffff;
}

.HomeScreenDescubreRetosRetoActivoImg {

  position: absolute;
  left: 93%;
  right: 4.66%;
  top: 6.7%;
  bottom: 89.73%;
}

.HomeScreenDescubreRetosRetadorNameText {

  position: absolute;
  left: 4.66%;
  right: unset;
  top: 47.77%;
  bottom: 40.18%;

  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;

  display: flex;
  align-items: center;

  color: #ffffff;
}

.HomeScreenDescubreRetosRetoTituloText {

  position: absolute;
  left: 4.66%;
  right: unset;
  /* top: 58.93%; */
  top: 61.93%;
  bottom: 30.36%;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: #ffffff;
}

.HomeScreenDescubreRetosRetoObjetivoRecText {
  position: absolute;
  left: 4.66%;
  right: unset;
  top: 75.89%;
  bottom: 16.96%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  display: flex;
  align-items: flex-end;

  color: #ffffff;
}

.HomeScreenDescubreRetosRetoFechaInicioText {

  position: absolute;
  left: 4.66%;
  right: unset;
  top: 85.71%;
  bottom: 7.14%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  display: flex;
  align-items: flex-end;

  color: #ffffff;
}

.HomeScreenDescubreRetosRetoBtn1 {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 32px;

  position: absolute;
  left: 48.4%;
  right: 2%;
  top: 75%;
  bottom: 7.14%;

  background: #fe4a49 !important;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25) !important;
  border:none !important;
}

.HomeScreenDescubreRetosRetoBtn1Text {

  position: absolute !important;
  /*!SIGUIENTE PROPIEDAD: mantiene el texto dentro del boton de esposorizar reto  */
  left: 20% !important;
  top: -20% !important;
  bottom: 20% !important;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;

  text-align: center !important;

  color: #ffffff !important;

  flex: none !important;
  order: 0 !important;
  flex-grow: 0 !important;
  margin: 12px 0px !important;
}

.HomeScreenDescubreRetosRetoBtn2 {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 32px;

  position: absolute;
  width: 164px;
  height: 40px;
  left: 106px;
  top: 3653px;
  margin-top: 20px;
  margin-bottom: 22px;

  background: #e8e7e8;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.HomeScreenDescubreRetosRetoBtn2Text {

  position: relative;
  top: -10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  text-align: center;

  color: #fe4a49 ;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
}

.overlay-div{
  height:100%;
  width: 100%;
  position:absolute;
  background-color:#335F46;
  opacity:.5;
  border-radius:8px !important;
}
