/*! HOME 4: Descubre todos los retos  */

/** Descubre todos los retos */

.HomeScreenDescubreRetosH2Text {
  /* Descubre todos los retos */

  position: relative !important;
  width: 286px !important;
  height: 36px !important;
  left: 80px !important;
  right: 46px !important;
  margin-top: 46px !important;
  /* top: 500px; */

  /* Title H2-Oswald-Bold-24pt */

  font-family: Oswald !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 24px !important;
  line-height: 36px !important;
  /* identical to box height */

  display: flex !important;
  align-items: center !important;
  text-align: center !important;

  /* Neutros/80 */

  color: #2d292e !important;
}

.HomeScreenDescubreRetosVerMasText {
  /* Ver más */

  position: relative !important;
  width: 286px !important;
  height: 36px !important;
  left: 300px !important;
  right: 46px !important;
  margin-top: 5px !important;
  margin-bottom: 2px !important;

  /* Body-Roboto-Regular-16pt */

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 24px !important;
  /* or 150% */

  display: flex !important;
  align-items: center !important;
  text-align: center !important;

  color: #000000 !important;
}

.HomeScreenDescubreRetosFigure {
  /* Rectangle 295 */

  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.HomeScreenDescubreRetosImg {
  /* Rectangle 295 */

  /*TODO crear imagen con verde opaco */
  /* background: #335f46; */
  /* opacity: 0.7; */
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  /* border-radius: 8px; */
}

.HomeScreenDescubreRetosRetoActivoText {
  /* Reto Activo */

  position: absolute;
  left: 72.05%;
  right: unset;
  top: 3.57%;
  bottom: 87.05%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* or 117% */

  display: flex;
  align-items: center;

  /* Neutros/00 */

  color: #ffffff;
}

.HomeScreenDescubreRetosRetoActivoImg {
  /* Ellipse 17 */

  position: absolute;
  left: 93%;
  right: 4.66%;
  top: 6.7%;
  bottom: 89.73%;
}

.HomeScreenDescubreRetosRetadorNameText {
  /* Manel A. */

  position: absolute;
  left: 4.66%;
  right: unset;
  top: 47.77%;
  bottom: 40.18%;

  /* Title H3-Oswald-Bold-18pt */

  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Neutros/00 */

  color: #ffffff;
}

.HomeScreenDescubreRetosRetoTituloText {
  /* Reto Natación */

  position: absolute;
  left: 4.66%;
  right: unset;
  /* top: 58.93%; */
  top: 61.93%;
  bottom: 30.36%;

  /* Body-Roboto-Bold-16pt */

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;

  /* Neutros/00 */

  color: #ffffff;
}

.HomeScreenDescubreRetosRetoObjetivoRecText {
  /* Objetivo 1200 € */

  position: absolute;
  left: 4.66%;
  right: unset;
  top: 75.89%;
  bottom: 16.96%;

  /* Caption-Roboto-Regular-14pt */

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: flex-end;

  /* Neutros/00 */

  color: #ffffff;
}

.HomeScreenDescubreRetosRetoFechaInicioText {
  /* Inicia 21/04/2021 */

  position: absolute;
  left: 4.66%;
  right: unset;
  top: 85.71%;
  bottom: 7.14%;

  /* Caption-Roboto-Regular-14pt */

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: flex-end;

  /* Neutros/00 */

  color: #ffffff;
}

.HomeScreenDescubreRetosRetoBtn1 {
  /* Button */

  /* Auto Layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 32px;

  position: absolute;
  left: 48.4%;
  right: 0.29%;
  top: 75%;
  bottom: 7.14%;

  /* Acento/80 */

  background: #fe4a49;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.HomeScreenDescubreRetosRetoBtn1Text {
  /* Click Me */

  position: absolute;
  left: 18.18%;
  right: 18.18%;
  top: -20%;
  bottom: 20%;

  /* Body-Roboto-Bold-16pt */

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  /* White */

  color: #ffffff;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
}

.HomeScreenDescubreRetosRetoBtn2 {
  /* Button */

  /* Auto Layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 32px;

  position: absolute;
  width: 164px;
  height: 40px;
  left: 106px;
  top: 3653px;
  margin-top: 20px;
  margin-bottom: 22px;

  /* Neutros/10 */

  background: #e8e7e8;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.HomeScreenDescubreRetosRetoBtn2Text {
  /* Click Me */

  position: relative;
  top: -10px;

  /* Body-Roboto-Bold-16pt */

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  /* Acento/80 */

  color: #fe4a49;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
}
