/* RetoScreenDetalles */

.RetoScreenRetoImg {
  position: relative !important;
  height: 241px !important;
}

.RetoScreenRetoFechasText {
  position: relative !important ;
  width: 200px !important;
  height: 16px !important;
  /* left: -25px !important; */
  left: -45px !important;
  top: 1px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 16px !important;

  text-align: center !important;

  color: #5c585d !important;
}

.RetoScreenRetoActivoText {
  position: relative !important ;
  width: 200px !important;
  height: 16px !important;
  left: 126px !important;
  top: -35px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 24px;

  text-align: right !important;

  color: #335f46 !important;
}

.RetoScreenRetoTituloText {
  position: relative !important ;
  width: 300px !important;
  height: 16px !important;
  left: -20px !important;
  /* top: -35px !important; */
  top: -30px !important;

  font-family: Oswald !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 24px !important;
  line-height: 36px !important;
  display: flex !important;
  align-items: center !important;

  color: #2d292e !important;
}

.RetoScreenRetoRecaudacionText {
  position: relative !important ;
  width: 300px !important;
  height: 16px !important;
  left: -20px !important;
  /* top: -5px !important; */
  top: 5px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px !important;
  line-height: 24px !important;

  display: flex !important;
  align-items: center !important;
  color: #5c585d !important;
}

.RetoScreenRetoProgressBar {
  position: relative !important ;
  width: 345px !important;
  height: 16px !important;
  left: -20px !important;
  /* top: -5px !important; */
  top: 10px !important;
}

/* RetoScreenCardRetador */

.RetoScreenRetoCardRetador {
  position: relative !important;
  width: 344px !important;
  height: 163px !important;
  left: -20px !important;
  /* top: 25px !important; */
  top: 40px !important;

  border: 1px solid #cadaa7 !important;
  box-sizing: border-box !important;
  border-radius: 8px !important;
}

.RetoScreenRetoRetadorImg {
  position: relative !important;
  width: 107px !important;
  height: 147px !important;
  left: calc(50% - 107px / 2 - 111px) !important;
  top: -8px !important;
}

.RetoScreenRetoRetadorNombreText {
  position: relative !important;
  width: 167px !important;
  height: 22px !important;
  left: 115px !important;
  top: -150px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px !important;
  line-height: 24px !important;

  color: #2d292e !important;
}

.RetoScreenRetoRetadorRecaudadoText {
  position: relative !important;
  width: 167px !important;
  height: 22px !important;
  left: 115px !important;
  top: -155px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 16px !important;

  color: #5c585d !important;
}

.RetoScreenRetoRetadorRetosCreadosText {
  position: relative !important;
  width: 167px !important;
  height: 22px !important;
  left: 115px !important;
  top: -167px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 16px !important;

  color: #5c585d !important;
}

.RetoScreenRetoRetadorCausaRetoText {
  position: relative !important;
  width: 167px !important;
  height: 22px !important;
  left: 115px !important;
  top: -150px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 24px !important;

  color: #2d292e !important;
}

.RetoScreenRetoRetadorCausaRetoBtn {
  position: relative !important;
  width: 116px !important;
  height: 33px !important;
  left: 203px !important;
  /* top: -193px !important; */
  top: -193px !important;

  background: #cadaa7 !important;
  border-radius: 8px !important;
}

.RetoScreenRetoRetadorCausaRetoBtnText {
  position: relative !important;
  width: 97px !important;
  height: 24px !important;
  left: -3px !important;
  top: -2px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 24px !important;

  display: flex !important;
  align-items: center !important;

  color: #5c585d !important;
}

/* RetoScreenRetoBtnSponsor1 */

.RetoScreenRetoBtnSponsor1 {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding: 16px 32px !important;

  position: relative !important;
  width: 344px !important;
  height: 56px !important;
  left: -20px !important;
  /* top: 60px !important; */
  top: 80px !important;

  background: #fe4a49 !important;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25) !important;
  border-radius: 8px !important;
}

.RetoScreenRetoBtnSponsor1Text {
  position: relative !important;
  width: 344px !important;
  height: 56px !important;
  left: 0 !important;
  top: -10px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 24px !important;

  text-align: center !important;
  display: inline-block !important;

  color: #ffffff !important;

  flex: none !important;
  order: 0 !important;
  flex-grow: 0 !important;
  margin: 12px 0px 12px !important;
}

/* RetoScreenRetoInfo  */

.RetoScreenRetoInfoText {
  position: relative !important;
  width: 120px !important;
  height: 24px !important;
  left: -20px !important;
  /* top: 100px !important; */
  top: 120px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 22px !important;
  line-height: 24px !important;

  display: flex !important;
  align-items: center !important;

  color: #2d292e !important;
}

.RetoScreenRetoInfoPrincImg {
  position: relative !important;
  width: 343px !important;
  height: 246px !important;
  left: -20px !important;
  /* top: 100px !important; */
  top: 120px !important;
}

.RetoScreenRetoInfoRetoDescr {
  position: relative !important;
  width: 341px !important;
  height: 216px !important;
  left: -20px !important;
  /* top: 135px !important; */
  top: 110px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 24px !important;

  color: #5c585d !important;
}

.RetoScreenIconosRedesSocialesFacebookVerde {
  position: relative !important;
  left: -20px !important;
  top: 80px !important;
}

.RetoScreenFacebookRetador {
  position: relative !important;
  width: 83px !important;
  height: 24px !important;
  left: 16px !important;
  top: 57px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 24px !important;

  text-align: right !important;

  color: #2d292e !important;
}

.RetoScreenIconosRedesSocialesInstagramVerde1 {
  position: relative !important;
  left: 175px !important;
  top: 15px !important;
}

.RetoScreenInstagramRetador1 {
  position: relative !important;
  width: 83px !important;
  height: 24px !important;
  left: 210px !important;
  top: -10px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 24px !important;

  text-align: right !important;

  color: #2d292e !important;
}

/* RetoScreenRetoDia  */

.RetoScreenRetoDiaTitleText {
  position: relative !important;
  width: 250px !important;
  height: 24px !important;
  left: -20px !important;
  top: 2px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 22px !important;
  line-height: 24px !important;

  display: flex !important;
  align-items: center !important;

  color: #2d292e !important;
}

/* Row 1 */

.RetoScreenRetoDiaImg1 {
  position: relative !important;
  width: 110px !important;
  height: 74px !important;
  left: -35px !important;
  top: 5px !important;
}

.RetoScreenRetoDiaImg2 {
  position: relative !important;
  width: 110px !important;
  height: 74px !important;
  left: 0 !important;
  left: -72px !important;
  top: 5px !important;
}

.RetoScreenRetoDiaImg3 {
  position: relative !important;
  width: 110px !important;
  height: 74px !important;
  left: 0 !important;
  left: 197px !important;
  top: -69px !important;
}

/* Row 2 */

.RetoScreenRetoDiaImg4 {
  position: relative !important;
  width: 110px !important;
  height: 74px !important;
  left: -35px !important;
  top: -63px !important;
}

.RetoScreenRetoDiaImg5 {
  position: relative !important;
  width: 110px !important;
  height: 74px !important;
  left: -72px !important;
  top: -63px !important;
}

.RetoScreenRetoDiaImg6 {
  position: relative !important;
  width: 110px !important;
  height: 74px !important;
  left: 197px !important;
  top: -137px !important;
}

/* Row 3 */

.RetoScreenRetoDiaImg7 {
  position: relative !important;
  width: 110px !important;
  height: 74px !important;
  left: -35px !important;
  top: -131px !important;
}

.RetoScreenRetoDiaImg8 {
  position: relative !important;
  width: 110px !important;
  height: 74px !important;
  left: -72px !important;
  top: -131px !important;
}

.RetoScreenRetoDiaImg9 {
  position: relative !important;
  width: 110px !important;
  height: 74px !important;
  left: 197px !important;
  top: -205px !important;
}

/* Row 4 */

.RetoScreenRetoDiaImg10 {
  position: relative !important;
  width: 110px !important;
  height: 74px !important;
  left: -35px !important;
  top: -198px !important;
}

.RetoScreenRetoDiaImg11 {
  position: relative !important;
  width: 110px !important;
  height: 74px !important;
  left: -72px !important;
  top: -198px !important;
}

.RetoScreenRetoDiaImg12 {
  position: relative !important;
  width: 110px !important;
  height: 74px !important;
  left: 197px !important;
  top: -272px !important;
}

/* Row 5 */

.RetoScreenRetoDiaImg13 {
  position: relative !important;
  width: 110px !important;
  height: 74px !important;
  left: -35px !important;
  top: -265px !important;
}

.RetoScreenRetoDiaImg14 {
  position: relative !important;
  width: 110px !important;
  height: 74px !important;
  left: -72px !important;
  top: -265px !important;
}

.RetoScreenRetoDiaImg15 {
  position: relative !important;
  width: 110px !important;
  height: 74px !important;
  left: 197px !important;
  top: -339px !important;
}

/* Row 6 */

.RetoScreenRetoDiaImg16 {
  position: relative !important;
  width: 110px !important;
  height: 74px !important;
  left: -35px !important;
  top: -332px !important;
}

.RetoScreenRetoDiaImg17 {
  position: relative !important;
  width: 110px !important;
  height: 74px !important;
  left: -72px !important;
  top: -332px !important;
}

.RetoScreenRetoDiaImg18 {
  position: relative !important;
  width: 110px !important;
  height: 74px !important;
  left: 197px !important;
  top: -406px !important;
}

/* Row 7 */

.RetoScreenRetoDiaImg19 {
  position: relative !important;
  width: 110px !important;
  height: 74px !important;
  left: -35px !important;
  top: -399px !important;
}

.RetoScreenRetoDiaImg20 {
  position: relative !important;
  width: 110px !important;
  height: 74px !important;
  left: -72px !important;
  top: -399px !important;
}

.RetoScreenRetoDiaImg21 {
  position: relative !important;
  width: 110px !important;
  height: 74px !important;
  left: 197px !important;
  top: -473px !important;
}

/* RetoScreenRetoCausa */

.RetoScreenRetoCausaText {
  position: relative !important;
  width: 250px !important;
  height: 24px !important;
  left: -20px !important;
  top: -445px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 22px !important;
  line-height: 24px !important;

  display: flex !important;

  color: #2d292e !important;
}

.RetoScreenRetoCausaInfoText {
  position: relative !important;
  width: 341px !important;
  height: 216px !important;
  left: -20px !important;
  top: -435px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 24px !important;

  color: #5c585d !important;
}

.RetoScreenRetoCausaVerMasText {
  text-decoration-line: underline !important;
  color: #004c92 !important;
}

/* RetoScreenRetoSponsors */

.RetoScreenRetoSponsorsTitleText {

  position: relative !important;
  width: 94px !important;
  height: 24px !important;
  left: -20px !important;
  top: -450px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 22px !important;
  line-height: 24px !important;

  display: flex !important;
  align-items: center !important;

  color: #2d292e !important;
}

/* Sponsor 1  */

.RetoScreenRetoSponsorBarraHorizontal1 {
  position: relative !important;
  width: 343px !important;
  height: 1px !important;
  left: -20px !important;
  top: -460px !important;
}

.RetoScreenRetoSponsorName1 {

  position: relative !important;
  width: 125px !important;
  height: 20px !important;
  left: -20px !important;
  top: -460px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 24px !important;

  color: #335f46 !important;
}

.RetoScreenRetoSponsorDonacionText1 {

  position: relative !important;
  width: 38px !important;
  height: 20px !important;
  left: 240px !important;
  top: -495px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 24px !important;

  color: #5c585d !important;
}

.RetoScreenRetoSponsorDonacionCifra1 {

  position: relative !important;
  width: 34px !important;
  height: 20px !important;
  left: 290px !important;
  top: -531px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 24px !important;

  color: #fe4a49 !important;
}

.RetoScreenRetoSponsorText1 {
  position: relative !important;
  width: 341px !important;
  height: 48px !important;
  left: -18px !important;
  top: -535px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 24px !important;

  color: #5c585d !important;
}

/* Sponsor 2 */

.RetoScreenRetoSponsorBarraHorizontal2 {
  position: relative !important;
  width: 343px !important;
  height: 1px !important;
  left: -20px !important;
  top: -555px !important;
}

.RetoScreenRetoSponsorName2 {
  position: relative !important;
  width: 125px !important;
  height: 20px !important;
  left: -20px !important;
  top: -555px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 24px !important;

  color: #335f46 !important;
}

.RetoScreenRetoSponsorDonacionText2 {
  position: relative !important;
  width: 38px !important;
  height: 20px !important;
  left: 240px !important;
  top: -591px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 24px !important;

  color: #5c585d !important;
}

.RetoScreenRetoSponsorDonacionCifra2 {
  position: relative !important;
  width: 34px !important;
  height: 20px !important;
  left: 290px  !important;
  top: -627px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 24px !important;

  color: #fe4a49 !important;
}

.RetoScreenRetoSponsorText2 {
  position: relative !important;
  width: 341px !important;
  height: 48px !important;
  left: -18px !important;
  top: -630px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 24px !important;

  color: #5c585d !important;
}

/* Sponsor 3 */

.RetoScreenRetoSponsorBarraHorizontal3 {
  position: relative !important;
  width: 343px !important;
  height: 1px !important;
  left: -20px !important;
  top: -650px !important;
}

.RetoScreenRetoSponsorName3 {
  position: relative !important;
  width: 125px !important;
  height: 20px !important;
  left: -20px !important;
  top: -651px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 24px !important;

  color: #335f46 !important;
}

.RetoScreenRetoSponsorDonacionText3 {
  position: relative !important;
  width: 38px !important;
  height: 20px !important;
  left: 240px !important;
  top: -686px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 24px !important;

  color: #5c585d !important;
}

.RetoScreenRetoSponsorDonacionCifra3 {
  position: relative !important;
  width: 34px !important;
  height: 20px !important;
  left: 290px !important;
  top: -722px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 24px !important;

  color: #fe4a49 !important;
}

.RetoScreenRetoSponsorBarraHorizontal4 {
  position: relative !important;
  width: 343px !important;
  height: 1px !important;
  left: -20px !important;
  top: -742px !important;
}

.RetoScreenRetoSponsorVerMasText {
  position: relative !important;
  width: 64px !important;
  height: 24px !important;
  left: 120px !important;
  top: -735px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 24px !important;

  text-decoration-line: underline !important;

  color: #004c92 !important;
}

/* RetoScreenBtnSponsor2  */

.RetoScreenRetoBtnSponsor2 {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding: 16px 32px !important;

  position: relative !important;
  width: 344px !important;
  height: 56px !important;
  left: -20px !important;
  top: -720px !important;
  margin-bottom: -20px !important;

  background: #fe4a49 !important;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25) !important;
  border-radius: 8px !important;
}

.RetoScreenRetoBtnSponsor2Texto {
  position: relative !important;
  width: 344px !important;
  height: 56px !important;
  left: 0 !important;
  top: -10px !important;

  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 24px !important;

  text-align: center !important;
  display: inline-block !important;

  color: #ffffff !important;

  flex: none !important;
  order: 0 !important;
  flex-grow: 0 !important;
  margin: 12px 0px 12px !important;
}
