.TipoScreenDeporteRelacionadoH2Text {
  /* ¿Con qué deporte está relacionado tu reto? */

  position: static !important;
  width: 229px !important;
  height: 72px !important;
  left: calc(50% - 229px / 2) !important;
  top: 0px !important;

  /* Title H2-Oswald-Bold-24pt */

  font-family: Oswald !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 24px !important;
  line-height: 36px !important;
  text-align: center !important;

  /* Neutros/00 */

  color: #ffffff !important;

  /* Inside Auto Layout */

  flex: none !important;
  order: 3 !important;
  flex-grow: 0 !important;
  margin: 0px 46px !important;
}
.TipoScreenBtn {
  /* Click Me */

  position: static;
  left: 39.94%;
  right: 39.94%;
  top: 28.57%;
  bottom: 28.57%;

  /* Body-Roboto-Bold-16pt */

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  /* White */

  color: #ffffff;
}
