main {
    min-height: 80vh;
  }
  
  h3 {
    padding: 1rem 0;
  }
  
  h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
  }
  
  h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
  }
  .visitedLink{
    color: white;
  }
  .parInv{
    font-size: 13px;
  }
  
  .rating span {
    margin: 0.1rem;
  }
  /* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Neutros/00 */
background: #FFFFFF;
