/* Componente Header.js */

/* Elementos Navbar: */
.Navbar {
  background-color: #003626 !important;
  right: -0.6px;
}

.NavbarLinkContainer {
  background-color: #003626 !important;
  color: #ffffff !important;
}

.NavbarToggle {
  background-color: #003626 !important;
  color: #ffffff !important;
}

.NavbarLink {
  background-color: #003626 !important;
  color: #ffffff !important;
  
}

.HeaderLinkContainer {
  text-decoration: none !important;
  color: #ffffff !important;
}

#navLinkBlock::after {
    display: none; 
    padding: none;
}
.logueado{

  color: white !important;
  position: relative;
  top: 10px;
}

.logueado a {
  position: relative;
  bottom: 18px;
  left: 4px;

  
}